:root {
    --light-text-color: white;
    --header-footer-color: #70A9A1;
    --button-color: #40798C;
    --border-color: #0B2027;
    --highlight-color: #F6F1D1;
    /* set up more fonts? */
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* SECTION 1: WELCOME SCREEN */
#welcomeScreen {
    background-image: url("./images/bar.jpg");
    background-size: cover;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0px 30px;
}
#waiter{
    font-size: 76px;
}
#subtitle {
    font-size: 32px;
}
#welcomeScreen h1{
    color: 0B2027;
    text-shadow: 1px 1px 40px var(--light-text-color);
    text-align: center;
}
#welcomeScreen p {
    color: white;
    text-shadow: 1px 1px 40px var(--border-color);
    font-size: 24px;
    text-align: center;
}
button {
    background-color: var(--header-footer-color);
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 10px var(--border-color);
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    width: 200px;
    transition: background-color 200ms transform 500ms;
}
button:hover {
    background-color: var(--button-color);
}
button:active {
    background-color: var(--button-color);
    box-shadow: 3px 3px 7px var(--border-color);
    transform: translate(3px, 3px)
}


/* SECTION 2: PLAY SCREEN */
#playScreen {
    background-image: url("./images/obermamma-interior.jpg");
    background-size: cover;
    display: grid;
    height: 100vh;
}

/* SECTION 2a: QUESTION SECTION */
#question {
    background-color: var(--header-footer-color);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

/* SECTION 2b: TIMER AND SCORE*/
#timerSection {
    display: flex;
    justify-content: flex-end;
}

/* SECTION 2c: MENU ITEMS */
h2 {
    color: var(--light-text-color);
    text-shadow: 1px 1px 10px var(--border-color);
    text-align: center;
    padding: 5px 0px;
}
#menuTableHeader {
    font-weight: bold;
    background-color: var(--light-text-color);
    box-shadow: 3px 3px 7px var(--border-color);
    text-align: center;
    padding: 5px
}
.col1{
    width: 60%;
    vertical-align: middle;
}
.col2, .col3 {
    width: 20%;
    vertical-align: middle;
}
#tableBox {
    border: none;
    background-color: var(--light-text-color);
    box-shadow: 3px 3px 7px var(--border-color);
    overflow-y: scroll;
    text-align: center;
    width: 100%;
}
#fullMenuTable{
    border-collapse: separate;
    border-spacing: 0px 10px;
    padding: 5px;
}
table:hover {
    cursor: default;
}
.menuItem{
    vertical-align: top;
}


/* SECTION 2d: PLAYER CHOICES */
#playerChoicesTable {
    background-color: var(--highlight-color);
    box-shadow: 3px 3px 10px var(--border-color);
    border-collapse: separate;
    border-spacing: 5px 10px;
    padding: 0px 5px;
    text-align: center;
}

/* SECTION 2e: SUBMIT BUTTON */
#newPrompt {
    display: none;
}

/* SECTION 2f: RESULTS */
#response {
    background-color: var(--header-footer-color);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

/* SECTION 3: WIN SCREEN */
#winScreen {
    background: url("https://media.giphy.com/media/hoKmJa133aQlyW3NhD/giphy.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

/* SECTION 4: LOSE SCREEN */
#loseScreen {
    background: url("https://media.giphy.com/media/xUPGcHtOYF5lXjCauQ/giphy.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#winScreen h2, #loseScreen h2 {
    color: var(--border-color);
    text-shadow: none;
    margin: 30px 0px;
}
#resetGameWin,
#resetGameLose {
    margin: 30px 0px;
}
footer {
    position: relative;
    bottom: 2px;
    right: 2px;
    z-index: 5;
    font-size: 10px;
}

/* MEDIA QUERY */
@media (max-width:599px) {
    #playScreen {
        grid-template-columns: 1fr 10fr 1fr;
        grid-template-rows: 1fr 0.3fr 4fr 3fr 1.25fr 1fr;
    }
    #question {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #timerSection {
        grid-column: 2 / 3;
        grid-row: 2 / 3;        
    }
    #tableBox {
        height: 25vh;
    }
    #menuItemsSection {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        display: flex;
        flex-direction: column;
    }
    #playerChoices {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #submitDiv {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #response {
        grid-column: 1 / 4;
        grid-row: 6 / 7;
        display: flex;
        justify-content: center;
        align-items: center;
    }    
}

@media (min-width: 600px) {
    #playScreen {
        grid-template-columns: 1fr 6fr 1fr 4fr 1fr;
        grid-template-rows: 1fr 0.5fr 4fr 1fr 1fr;
    }
    #question { 
        grid-column: 1 / 6; 
        grid-row: 1 / 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #timerSection {
        grid-column: 2 / 5;
        grid-row: 2 / 3;
    }
    #tableBox {
        height: 50vh;
    }
    #menuItemsSection {
        grid-column: 2 / 3;
        grid-row: 3 / 5 ;
        display: flex;
        flex-direction: column;
    }
    #playerChoices {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #submitDiv {
        grid-column: 4 / 5;
        grid-row: 4 / 5;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #response {
        grid-column: 1 / 6;
        grid-row: 5 / 6;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}